<div class="block grid">
  <div class="section block--header">
    <h2 class="section__header section__header--blue section__header--sm">Designed for the future</h2>
  </div>
  <div class="container img-container editor-container"></div>
  <div class="block--content">
    <section class="section grid">
      <h3 class="section__header section__header--blue section__header--sm">Introducing an extensible editor</h3>
      <p class="section__content section__content--gray">Blogr features an exceedingly intuitive interface which lets you focus on one thing: creating content. 
        The editor supports management of multiple blogs and allows easy manipulation of embeds such as images, 
        videos, and Markdown. Extensibility with plugins and themes provide easy ways to add functionality or 
        change the looks of a blog.</p>
    </section>
  
    <section class="section grid">
      <h3 class="section__header section__header--blue section__header--sm">Robust content management</h3>
      <p class="section__content section__content--gray">Flexible content management enables users to easily move through posts. Increase the usability of your blog 
        by adding customized categories, sections, format, or flow. With this functionality, you’re in full control.
      </p>
    </section>

    
  </div>
</div>

<div class="block grid banner banner-dark-blue banner-radius-bottom-left banner-radius-top-right">
  <div class="container img-container phones-container"></div>
  <div class="block--content">
    <section class="section grid">
      <h3 class="section__header section__header--white section__header--sm">State of the Art Infrastructure</h3>
      <p class="section__content section__content--gray">With reliability and speed in mind, worldwide data centers provide the backbone for ultra-fast connectivity. 
        This ensures your site will load instantly, no matter where your readers are, keeping your site competitive.</p>
    </section>     
  </div>
</div>

<div class="block grid">
  <div class="container img-container laptop-container"></div>
  <div class="block--content">
    <section class="section grid">
      <h3 class="section__header section__header--blue section__header--sm">Free, open, simple</h3>
      <p class="section__content section__content--gray">Blogr is a free and open source application backed by a large community of helpful developers. It supports 
        features such as code syntax highlighting, RSS feeds, social media integration, third-party commenting tools, 
        and works seamlessly with Google Analytics. The architecture is clean and is relatively easy to learn.</p>
    </section>
  
    <section class="section grid">
      <h3 class="section__header section__header--blue section__header--sm">Powerful tooling</h3>
      <p class="section__content section__content--gray">Batteries included. We built a simple and straightforward CLI tool that makes customization and deployment a breeze, but
        capable of producing even the most complicated sites.</p>
    </section>

    
  </div>
</div>