<footer class="footer grid banner banner-dark-blue banner-radius-top-right">
    <div class="footer__logo">
      <img src="./images/logo.svg" alt="Brand logo">
    </div>
    <ul class="list">
      <li class="list__item">
        <p class="list__item-header list__item-header-white">Product</p>
        <ul class="sub-list">
          <li class="list__item list__item-footer">Overview</li>
          <li class="list__item list__item-footer">Pricing</li>
          <li class="list__item list__item-footer">Marketplace</li>
          <li class="list__item list__item-footer">Features</li>
          <li class="list__item list__item-footer">Integrations</li>
        </ul>
      </li>
      <li class="list__item">
        <p class="list__item-header list__item-header-white">Company</p>
        <ul class="sub-list">
          <li class="list__item list__item-footer">About</li>
          <li class="list__item list__item-footer">Team</li>
          <li class="list__item list__item-footer">Blog</li>
          <li class="list__item list__item-footer">Careers</li>
        </ul>
      </li>
      <li class="list__item">
        <p class="list__item-header list__item-header-white">Connect</p>
        <ul class="sub-list">
          <li class="list__item list__item-footer">Contact</li>
          <li class="list__item list__item-footer">Newsletter</li>
          <li class="list__item list__item-footer">LinkedIn</li>
          <li class="list__item list__item-footer">Careers</li>
        </ul>
      </li>
    </ul>
  </footer>