<ul class="list text-center">
    <li class="list__item">
      <p class="list__item-header list__item-header-icon">Product</p>
      <ul class="sub-list">
        <li class="list__item list__item-dark-blue">Overview</li>
        <li class="list__item list__item-dark-blue">Pricing</li>
        <li class="list__item list__item-dark-blue">Marketplace</li>
        <li class="list__item list__item-dark-blue">Features</li>
        <li class="list__item list__item-dark-blue">Integrations</li>
      </ul>
    </li>
    <li class="list__item">
      <p class="list__item-header list__item-header-white">Company</p>
      <ul class="sub-list">
        <li class="list__item list__item-dark-blue">About</li>
        <li class="list__item list__item-dark-blue">Team</li>
        <li class="list__item list__item-dark-blue">Blog</li>
        <li class="list__item list__item-dark-blue">Careers</li>
      </ul>
    </li>
    <li class="list__item">
      <p class="list__item-header list__item-header-white">Connect</p>
      <ul class="sub-list">
        <li class="list__item list__item-dark-blue">Contact</li>
        <li class="list__item list__item-dark-blue">Newsletter</li>
        <li class="list__item list__item-dark-blue">LinkedIn</li>
        <li class="list__item list__item-dark-blue">Careers</li>
      </ul>
    </li>
  </ul>