<nav class="nav">
    <div class="nav__icon"></div>
    <ul class="list list--inline">
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon">Product</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Overview</li>
          <li class="list__item list__item-dark-blue">Pricing</li>
          <li class="list__item list__item-dark-blue">Marketplace</li>
          <li class="list__item list__item-dark-blue">Features</li>
          <li class="list__item list__item-dark-blue">Integrations</li>
        </ul>
      </li>
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon">Product</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Overview</li>
          <li class="list__item list__item-dark-blue">Pricing</li>
          <li class="list__item list__item-dark-blue">Marketplace</li>
          <li class="list__item list__item-dark-blue">Features</li>
          <li class="list__item list__item-dark-blue">Integrations</li>
        </ul>
      </li>
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon">Product</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Overview</li>
          <li class="list__item list__item-dark-blue">Pricing</li>
          <li class="list__item list__item-dark-blue">Marketplace</li>
          <li class="list__item list__item-dark-blue">Features</li>
          <li class="list__item list__item-dark-blue">Integrations</li>
        </ul>
      </li>
    </ul>
    <div class="login-signup">

    </div>
</nav>


<nav class="nav banner banner-radius-bottom-left">
  <div class="flex nav-item-container">
    <div class="nav__logo">
      <img src="./images/logo.svg" alt="Brand logo">
    </div>
    <ul class="list list--inline">
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon" id="header1">Product</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Overview</li>
          <li class="list__item list__item-dark-blue">Pricing</li>
          <li class="list__item list__item-dark-blue">Marketplace</li>
          <li class="list__item list__item-dark-blue">Features</li>
          <li class="list__item list__item-dark-blue">Integrations</li>
        </ul>
      </li>
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon" id="header2">Company</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">About</li>
          <li class="list__item list__item-dark-blue">Team</li>
          <li class="list__item list__item-dark-blue">Blog</li>
          <li class="list__item list__item-dark-blue">Careers</li>
        </ul>
      </li>
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon" id="header3">Connect</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Contact</li>
          <li class="list__item list__item-dark-blue">Newsletter</li>
          <li class="list__item list__item-dark-blue">LinkedIn</li>
        </ul>
      </li>
    </ul>
    <div class="login-signup">
      <img src="./images/icon-hamburger.svg" alt="" class="nav__burger">
      <button class="btn btn--sm btn--transparent">Login</button>
      <button class="btn btn--sm btn--white">Sign Up</button>
    </div>
  </div>

  <div class="modal">
    <ul class="list list--inline">
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon" id="header1">Product</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Overview</li>
          <li class="list__item list__item-dark-blue">Pricing</li>
          <li class="list__item list__item-dark-blue">Marketplace</li>
          <li class="list__item list__item-dark-blue">Features</li>
          <li class="list__item list__item-dark-blue">Integrations</li>
        </ul>
      </li>
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon" id="header2">Company</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">About</li>
          <li class="list__item list__item-dark-blue">Team</li>
          <li class="list__item list__item-dark-blue">Blog</li>
          <li class="list__item list__item-dark-blue">Careers</li>
        </ul>
      </li>
      <li class="list--inline__item">
        <p class="list__item-header list__item-header-icon" id="header3">Connect</p>
        <ul class="sub-list">
          <li class="list__item list__item-dark-blue">Contact</li>
          <li class="list__item list__item-dark-blue">Newsletter</li>
          <li class="list__item list__item-dark-blue">LinkedIn</li>
        </ul>
      </li>
    </ul>
  </div>

  <section class="block block__text-center">
    <h1 class="section__header section__header--white section__header--lg">A modern publishing platform</h1>
    <p class="section__content section__content--gray">Grow your audience and build your online brand</p>
  </section>
  <div class="buttons">
    <button class="btn btn--sm btn--white">Start for Free</button>
    <button class="btn btn--sm btn--outline">Learn More</button>
  </div>
</nav>